<html>
<link rel="stylesheet" href="board.css">

<body>
    <div class=" ">
        <div class="left">
            <div class="team">
                <h1>Attackers: team1</h1>
            </div>

        </div>

        <div class="right">
            <div class="team">
                <h1>Defensers: team2</h1>
            </div>

        </div>
        <div class="score_left">
            <h2 style="text-align: left; margin: 30px; font-size: 30px;">212</h2>
        </div>
    </div>
    <div class="score_right">
        <h2 style="text-align: right; margin: 30px; font-size: 30px;">1643</h2>
    </div>
    <div class="round">
        <h1>Round: 122</h1>
    </div>
    </div>

    <div class='tasks'>
        <div class="task_up">
            <h3 style="font-size: 18px;">task1</h3>
            <h4 style="font-size: 18px;">Flags: 1643<br>Uptime: none</h4>
        </div>
        <div class="task_mumble">
            <h3 style="font-size: 18px;">task2</h3>
            <h4 style="font-size: 18px;">Flags: 3452<br>Uptime:  none</h4>
        </div>
        <div class="task_corrupt">
            <h3 style="font-size: 18px;">task3</h3>
            <h4 style="font-size: 18px;">Flags: 36<br>Uptime: none</h4>
        </div>
        <div class="task_down">
            <h3 style="font-size: 18px;">task4</h3>
            <h4 style="font-size: 18px;">Flags: 23735<br>Uptime: none</h4>
        </div>


    </div>
    

</body>

</html>